body{
    background-color:blanchedalmond;
    text-align: center;
}

h1{
    padding: 4px;
    border: 1px solid black
}

button{
    font-size: 36px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}